# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.5
      - name: Set up Node.js
        uses: actions/setup-node@master
        with:
          node-version: 12.16.1
      - name: Install modules
        run: yarn install
      - name: Run tests
        run: yarn test
      - name: Build
        run: yarn build
      - name: Install modules
        run: cd example && yarn install
      - name: Run tests example app
        run: cd example && yarn test
